{% load static %}
<!DOCTYPE html>
<html lang="es-ec">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex Oficial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        body { background-color: #f8f9fa; font-family: 'Segoe UI', sans-serif; }
        .navbar-pokedex { background-color: #dc3545; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }
        .pk-card { border: none; border-radius: 12px; background: white; box-shadow: 0 4px 8px rgba(0,0,0,0.05); transition: 0.2s; }
        .pk-card:hover { transform: translateY(-5px); box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important; }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-pokedex fixed-top">
        <div class="container">
            <a class="navbar-brand fw-bold d-flex align-items-center" href="{% url 'pokedex:index' %}">
                <img src="{% static 'logo.png' %}" height="40" class="me-2" onerror="this.outerHTML='<i class=\'fa-solid fa-circle-dot fs-3 me-2\'></i>'">
            </a>
            
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center gap-2 mt-2 mt-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item text-white fw-bold me-2 mb-2 mb-lg-0">
                            <i class="fa-solid fa-user text-warning me-1"></i> {{ user.username|upper }}
                        </li>
                        <li class="nav-item w-100 w-lg-auto">
                            <form action="{% url 'pokedex:logout' %}" method="POST" class="m-0">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-dark btn-sm rounded-pill px-4 fw-bold w-100">SALIR</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item w-100 w-lg-auto">
                            <a href="{% url 'pokedex:login' %}" class="btn btn-warning btn-sm rounded-pill px-4 fw-bold shadow-sm w-100">ENTRAR</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div style="margin-top: 90px;"></div>

    <main class="container mb-5">
        {% block content %}{% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>